services:
  NearEarthObjectsWebService:
    image: near-earth-objects-web-service
    container_name: NearEarthObjectsWebService
    build:
      context: .
      dockerfile: NearEarthObjectsWebService/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - SqlServer
  SqlServer:
    platform: linux/amd64
    image: mcr.microsoft.com/mssql/server:latest
    container_name: SqlServer
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=strongPassw0rd!
    ports:
      - "14333:1433"
    healthcheck:
      test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P LocalDev -Q 'SELECT 1'"]
      interval: 10s
      timeout: 10s
      retries: 5
